//基础颜色
$basecolor:#FFDD94;
$orang-red:#FA897B;
$l-purple:#CCABDB;
$g-yellow:#D0E6A5;
$l-blue:#86E3CE;


//字体大小

$base-font:16px;
$l-font:12px;
$g-font:22px;

//背景颜色
$base-bg:#ECEEF4;
$sky-bg:#3698b9;
$sunlingh-bg:#d48d99;
$tree-bg:#1a281e;


//圆角
$borderadiu:6px;